<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Painel de Chamados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="queueService.lastCalled.length > 0">
    <h1>SENHA ATUAL</h1>
    <h2 style="font-size: 4em; color: var(--ion-color-primary)">
      {{ queueService.lastCalled[0] }}
    </h2>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Últimas Chamadas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let senha of queueService.lastCalled.slice(1)">
      <ion-label>{{ senha }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">Resumo do Dia (Relatório)</ion-title>
  </ion-toolbar>
  <ion-grid class="ion-text-center" style="font-size: 0.8em; background: #f4f4f4;">
    <ion-row>
      <ion-col><strong>Tipo</strong></ion-col>
      <ion-col><strong>Emitidas</strong></ion-col>
      <ion-col><strong>Atendidas</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>SP / SE / SG</ion-col>
      <ion-col>{{queueService.stats.emitidas.total}}</ion-col>
      <ion-col>{{queueService.stats.atendidas.total}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
