<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Totem de Autoatendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2>Selecione o tipo de atendimento:</h2>

  <ion-button expand="block" color="danger" (click)="gerarSenha('SP')"
    >Prioritária (SP)</ion-button
  >
  <ion-button expand="block" color="success" (click)="gerarSenha('SE')"
    >Retirada de Exames (SE)</ion-button
  >
  <ion-button expand="block" color="primary" (click)="gerarSenha('SG')"
    >Geral (SG)</ion-button
  >

  <div *ngIf="ultimaSenhaGerada" class="ion-margin-top">
    <h3>Sua senha é:</h3>
    <ion-badge color="dark" style="font-size: 1.5em"
      >{{ ultimaSenhaGerada }}</ion-badge
    >
  </div>
</ion-content>
