<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Painel do Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Guichê 01</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1 *ngIf="senhaAtual">{{ senhaAtual }}</h1>
      <h1 *ngIf="!senhaAtual">Aguardando...</h1>
      <ion-button expand="block" (click)="proximo()">Chamar Próximo</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
